# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vim
*.swp

# transient sqlite files
/sqlite
/sqlite-autoconf*
/cmds.txt
/sqlite-with-parquet
/testcase-out.txt
/testcase-stdout.txt
/testcase-stderr.txt
/testcase-expected.txt
/testcase-cmds.txt
/testcases.txt
tests/queries
/testcase-bootstrap.sql
/test.db
